html, body {
	height: 100%;
}

body {
	padding-top: 56px;
	padding-left: 0;
}

.t-head{
	background-color: #e3f2fd;
}

.layout-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
	border-top: 1px solid #eeeeee;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}