<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Meu Curso Online</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/images/favicon.png" />

<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css"
	rel="stylesheet" />

<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-3"
		style="background-color: #e3f2fd;">
		<a class="navbar-brand" style="margin-left: 50px;" href="/"> <img src="/images/favicon.png"
			width="30" height="30" class="d-inline-block align-top" alt="">
			MyCourse
		</a>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/alunos">Home</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<section layout:fragment="conteudo"></section>
	</div>

	<footer th:replace="fragments/footer :: footer">
		<div></div>
	</footer>

	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/confirmacaoModal.js"></script>
</body>
</html>